    window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
        xray true
    }
}

     // if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r"^[Ss]team$"
        open-floating true
}

    window-rule {
       match app-id="steam" title=r"^notificationtoasts_\d+_desktop$"
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
}

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
}

window-rule { match app-id=r"firefox"; open-maximized true; }
window-rule { match app-id=r"Nautilus"; default-column-width { fixed 800; }; default-window-height { proportion 0.5; }; open-floating true; }

window-rule { match app-id=r"kitty"; opacity 0.8; background-effect { blur true; }; }
